.center {
  text-align: center;
}

#container {
  width: 75%;
  margin: auto;
}

#entryinput {
  width: 100%;
}

#entrybutton {
  text-align: center;
  width: 200px;
  margin: auto;
  padding: 1em 0;
  font-size: 30px;
  font-weight: bold;
  border-width: 5px;
  border-radius: 25px;
  border-color: #000000;
  color: #ffffff;
  background-color: #ff0000;
}